*{
    margin: 0 ;
    padding: 0;
  }
.logo{
   
    height:100px;
    width:240px;

  }
nav{
    margin-top: 8px;
    margin-right: 177px;
    margin-left: 177px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font: 20px bold ;
    height: 80px;
    flex-shrink: 0;
}
nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}
nav ul li{
    display: flex;
}

.red{
   width: 75px;
   height: 31px;
   color: white;
   background-color: red;
}
.card {
    margin-top: 8px;
    margin-right: 177px;
    margin-left: 177px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    width: 1085px;
    height: 499px;
}
.imagecontainer{
    flex: 1;
    
}
.image {
    width: 700px;
    /* height: auto; */
    height: 499px;
}
.image1 {
    height: 499px;
    width: 385px
}
.textcontainer {
    flex: 1;
    padding: 0 20px;
    height: 499px;
    width: 345px;
}
.textcontainer h1{
    flex: 1;
    padding-left:8%;
    padding-top:28%;
    font-size: 40px;
    text-align: center;
   
}
.textcontainer p{
    padding-left: 8%;
    padding-top: 8%;
    font-size: 20px;
   
}
.textcontainer img{
    height: 50px;
    margin-bottom: 1%;
}

.search{
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 178px;
    margin-left: 178px;
}

.search_box{
    border: solid rgb(141, 135, 135);
    border-radius: 4px;
    height: 35px;
    width: 90%;
    margin-right: 17px;
}

