*{
    margin: 0 ;
    padding: 0;
  }
.logo{
   
    height:180px;
    width:180px;

  }
nav{
    margin-top: 8px;
    margin-right: 177px;
    margin-left: 177px;
    /* margin:177px; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    font: 20px bold ;
    /* height: 46px; */
    /* width: 1440px; */
    height: 80px;
    flex-shrink: 0;
}
nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}
nav ul li{
    display: flex;
}

.red{
   width: 75px;
   height: 31px;
   color: white;
   background-color: red;
}
/* .Hug{
    width: 1125px;
    height: 613px;
    display: flex;
    margin-left:157px;
    margin-top:152px; 
     border: solid;
} .imge{
    width: 530px;
   height: 487px;
   border: solid; 
   margin-top: 63px;

} 
.snow{
    display:flex;
    gap:40px;
    border: solid; 
    margin-bottom: 30px ;
}
.red-btn{
    background-color: #D01C28;
    color: white;
}

.H3{
width: 404px;
height: 91px;
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #5A5959; 
margin-top: 40px ;
margin-bottom: 40px ;
}
h4
.shop{
    

display: flex;
gap:20px;

}*/